// http://chir.ag/projects/name-that-color/
$color-purpleHeart:      #5944CE;
$color-brightTurquoise:  #0FE1C3;
$color-minsk:            #413296;
$color-candlelight:      #FBD829;
$color-froly:            #F478A2;
$color-blueChalk:        #E4DFFF;
$color-candlelight:      #FAD214;
$color-darkGray:         #F5F4FB;
$color-darkGray2:        #F6F6F8;
$color-flushMahogany:    #CE4444;
$color-Turquoise:        #06C3C3;

$color-brand-alfa: $color-Turquoise;
$color-brand-beta: $color-purpleHeart;

// White & Black
$color-white:            #ffffff;
$color-black:            $color-purpleHeart;
$color-realBlack:        #000000;
$color-lightBlack:       #4C4C4C;
$black:#1A2020;

$blue: #06C3C3;
$white: #fff;
$purple: #5944CE;
$yellow: #fad214;
$color-darkGray3: #1A2020;
$color-hoverTurquoise :#06B5B5;
$darkBlue :#06B5B5;
$color-offwhite: #F9F9F9;
$color-alabaster: #F9F9F9;

$color-lightTurquoise :#C1FFFF;
$color-lightgrey :#B3B3B3;

