.emil-att
{padding-top: $spacing-unit * 13;
  padding-bottom: $spacing-unit * 13;
  background: white; text-align: center;}
.emil-att-title
{text-align: center;
  margin: 0 auto;
  font-size: $fs-big - 1;
  font-weight: $fw-light;
  line-height: 1.2;
  width: 50%;
  color: $color-lightBlack;
  margin-bottom: 30px;
  @include media (small-max) {font-size: $fs-bigger - 8; width: 80%;}

}
.emil-att-img {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  @include media(medium-only){ }
}

.emil-att-img p {display:block;
  font-weight: $fw-medium;
  font-size: $fs-regular;
}

.emil-att-app-img {padding: 100px 70px 2px;

  @include media(medium-only)
  { padding: 100px 40px 2px;}

}
