.Button {
  display: block;
  margin: 0 auto;

  padding: $spacing-unit * 2 + 1 $spacing-unit * 4 $spacing-unit * 1.25;
  padding: 0.75em 1.6em 0.75em;

  font-size: $fs-regular;
  line-height: 1.1;
  // text-transform: uppercase;

  border-radius: $spacing-unit * 10;

  appearance: none;
  -webkit-appearance: none;

  cursor: pointer;

  background-color: $color-brand-alfa;
  text-decoration: none;
  text-align: center;
  color: $color-white;


  &:hover {
    background-color: $color-hoverTurquoise;
    color:$color-white !important;
    &:not(.Button--transparent) {
      color: $color-white;

    }
  }
  &--alfa {
    background-color: $color-brand-alfa;
  }

  &--transparent {
    border: 1px solid $color-brand-alfa;
    background-color: transparent;
    color: $color-brand-alfa !important;
  }

  &--white {
    border-color: $color-white;
    color: $color-white;
  }

  &--inlineBlock{
    display: inline-block;
  }

  @include media(medium) {
    font-size: $fs-medium;
  }
}